<div class=" flex p-10 gap-4 justify-center color-gradient-primary">
  <div class="flex flex-col gap-4 w-7/12">
    <img class="w-3/12" src="/complete-logo.png" alt="">
    <p>
      Health.AI is dedicated to providing innovative and personalized healthcare solutions through cutting-edge
      technology and
      compassionate care.
      <br><br>
      Our mission is to empower individuals to take control of their health with easy access to professional medical
      advice,
      comprehensive health assessments, and round-the-clock support.
      <br><br>
      Trust Health.AI to be your partner in maintaining optimal health and well-being.
    </p>
  </div>
  <div class="w-3/12 flex items-center justify-center">
    <ul class="flex flex-col gap-6 font-bold">
      <li><a href="" class="flex gap-2">
          <img src="/Iconly.png" alt="">
          About Us</a></li>
      <li><a href="" class="flex gap-2">
          <img src="/Iconly.png" alt="">
          FAQs</a></li>
      <li><a href="" class="flex gap-2">
          <img src="/Iconly.png" alt="">
          Medical Check-Ups</a></li>
      <li><a href="" class="flex gap-2">
          <img src="/Iconly.png" alt="">
          Terms of Service</a></li>

    </ul>
  </div>
</div>
