<div class="bg-gradient-blue min-h-screen flex items-center justify-center pt-40">
  <div class="w-9/12 min-h-full bg-white p-10 py-32 flex gap-3 rounded-3xl">
    <div class="w-6/12 flex flex-col ">
      <h2 class="text-2xl secondary-color font-semibold mb-4">Medical Check up</h2>
      <p class="secondary-color text-xs">Fill Out Our Form to Gain Valuable <br> Insights into Your Health</p>
      <div class="w-full h-full">
        <p-stepper orientation="horizontal">
          <p-stepperPanel header="">
            <ng-template pTemplate="content" let-nextCallback="nextCallback" let-index="index">
              <div class="flex flex-column h-12rem">
                <form [formGroup]="formPersonalData" action=""
                  class="flex flex-col items-start w-full mt-4 text-xs gap-2">
                  <h3 class="text-xl font-semibold color-gradient-primary">Personal data</h3>
                  <p class="color-gradient-primary">
                    Please fill out the following information to get started.
                  </p>
                  <div class="flex w-full gap-2">
                    <input class="w-5/12" type="text" placeholder="First Name" formControlName="name">
                    <input class="w-5/12" type="text" placeholder="Last Name" formControlName="lastName">
                  </div>
                  <div class="w-10/12">
                    <p-calendar [placeholder]="'birthDate'" [style]="styleCalendar" formControlName="birthDate" />
                  </div>
                  <div class="w-10/12 secondary-color flex items-center gap-5">
                    <label for="">Gender</label>
                    <select name="gender" id="" class="px-4 w-full" formControlName="gender">
                      <option value="Gender" disabled selected>Gender</option>
                      <option value="M">Male</option>
                      <option value="F">Female</option>
                    </select>
                  </div>
                  <div class="w-10/12">
                  </div>
                  <div class="flex items-center justify-center mt-4 w-full">
                    <!-- <button class="flex items-center justify-center gap-2 text-xl rounded-3xl px-4 py-2">
                      <img class="w-2/12" src="button-icon-white.png" alt="">
                      Get&nbsp;results
                    </button> -->
                  </div>
                </form>
              </div>
              <div class="flex py-4">
                <p-button label="Next" [disabled]="!(isCompletedFormPersonalData |async)"
                  (onClick)="nextCallback.emit()" />
              </div>
            </ng-template>
          </p-stepperPanel>
          <p-stepperPanel header="">
            <ng-template pTemplate="content" let-prevCallback="prevCallback" let-nextCallback="nextCallback"
              let-index="index">
              <div class="flex flex-column h-12rem">
                <form action="" [formGroup]="formWeightAndHabits" class="flex flex-col w-full gap-3">
                  <div class="flex flex-col items-start w-full mt-4 text-xs gap-2">
                    <h3 class="text-xl font-semibold color-gradient-primary">Weight and Habits</h3>
                    <p class="color-gradient-primary">
                      Please tell us about your weight and habits.
                    </p>
                  </div>
                  <div class="flex w-full gap-2 items-center">
                    <input class="w-5/12" type="number" placeholder="Weight" formControlName="weight">
                    <label for="" class="h-full flex items-center color-gradient-primary text-xs">
                      Units
                    </label>
                    <!--Units-->
                    <select name="weightUnit" id="" class="w-5/12 px-4" formControlName="unitsWeight">
                      <option value="Kg">Kg</option>
                      <option value="Lb">Lb</option>
                    </select>
                  </div>
                  <div class="flex w-full gap-2">
                    <input class="w-5/12" type="number" placeholder="Height" formControlName="height">
                    <!--Units-->
                    <label for="" class="h-full flex items-center color-gradient-primary text-xs">
                      Units
                    </label>
                    <select name="heightUnit" id="" class="w-5/12 px-4" formControlName="unitsHeight">
                      <option value="Cm">Cm</option>
                      <option value="In">In</option>
                    </select>
                  </div>
                  <div class="flex flex-col w-full gap-2">
                    <label for="" class="color-gradient-primary text-xs">
                      How many days a week do you exercise?
                    </label>
                    <p-selectButton [options]="optionsDaysOfExercise" optionLabel="name" optionValue="value" formControlName="daysOfExercise" />
                  </div>
                  <div class="flex flex-col w-7/12 gap-2">
                    <label for="" class="color-gradient-primary text-xs">
                      How many minutes do you exercise per session?
                    </label>
                    <input type="number" placeholder="Minutes" formControlName="minutesOfExercise">
                  </div>
                  <!--Sleep-->
                  <div class="flex flex-col w-7/12 gap-2">
                    <label for="" class="color-gradient-primary text-xs">
                      How many hours of sleep do you get per night?
                    </label>
                    <input type="number" placeholder="Hours" max="24" maxlength="2" min="0" [max]="24" formControlName="hoursOfSleep">
                  </div>
                  <!--Frequency of issues with sleep-->
                  <div class="flex flex-col w-7/12 gap-2">
                    <label for="" class="color-gradient-primary text-xs">
                      How often do you have trouble sleeping?
                    </label>
                    <p-selectButton [options]="optionsFrequencyOfIssuesWithSleep" optionLabel="name" formControlName="frequencyOfIssuesForSleep"
                      optionValue="value" />
                  </div>
                  <!--Fruits-->
                  <div class="flex flex-col w-7/12 gap-2">
                    <label for="" class="color-gradient-primary text-xs">
                      How many servings of fruits do you eat per day?
                    </label>
                    <input type="number" placeholder="Servings" formControlName="manyFruits">
                  </div>
                  <!--Vegetables-->
                  <div class="flex flex-col w-7/12 gap-2">
                    <label for="" class="color-gradient-primary text-xs">
                      How many servings of vegetables do you eat per day?
                    </label>
                    <input type="number" placeholder="Servings" formControlName="manyVegetables">
                  </div>
                  <!--Smoke-->
                  <div class="flex flex-col w-7/12 gap-2">
                    <label for="" class="color-gradient-primary text-xs">
                      Do you smoke?
                    </label>
                    <p-selectButton [options]="optionsSmoke" optionLabel="name" optionValue="value" formControlName="smoker"  />
                  </div>
                  <!--Alcohol-->
                  <div class="flex flex-col w-7/12 gap-2">
                    <label for="" class="color-gradient-primary text-xs">
                      Do you drink alcohol?
                    </label>
                    <p-selectButton [options]="optionsAlcohol" optionLabel="name" optionValue="value" formControlName="drinker" />
                  </div>
                </form>
              </div>
              <div class="flex py-4 gap-2">
                <p-button label="Back" severity="secondary" (onClick)="prevCallback.emit()" />
                <p-button label="Next" [disabled]="!(isCompletedFormWeightAndHabits|async)" (onClick)="nextCallback.emit()" />
              </div>
            </ng-template>
          </p-stepperPanel>
          <p-stepperPanel header="">
            <ng-template pTemplate="content" let-prevCallback="prevCallback" let-index="index">
              <div class="flex flex-column h-12rem">
                <form
                  [formGroup]="formRiskOfHospitalization"
                  action=""
                  class="flex flex-col items-start w-full mt-4 text-xs gap-2"
                >
                  <h3 class="text-xl font-semibold color-gradient-primary">Medical history</h3>
                  <p class="color-gradient-primary">
                    Please tell us about your medical history.
                  </p>
                  <!--How would you rate your memory in general?	1: Excellent, 2: Very good, 3: Good, 4: Fair, 5: Poor-->
                  <div class="flex flex-col w-10/12 gap-2">
                    <label for="" class="color-gradient-primary text-xs">
                      How would you rate your memory in general?
                    </label>
                    <p-selectButton [options]="optionsMemory" optionLabel="name" optionValue="value" formControlName="memory" />
                  </div>
                  <!--How is your memory compared to two years ago?	1: Better, 2: Same, 3: Worse, .d: Don't know, .m: Missing, .p: Proxy, .r: Refused-->
                  <div class="flex flex-col w-10/12 gap-2">
                    <label for="" class="color-gradient-primary text-xs">
                      How is your memory compared to two years ago?
                    </label>
                    <p-selectButton [options]="optionsMemoryTwoYearsAgo" optionLabel="name" optionValue="value" formControlName="memoryTwoYearsAgo" />
                  </div>
                  <!--Have you ever been told you have high blood pressure?-->
                  <div class="flex flex-col w-7/12 gap-2">
                    <label for="" class="color-gradient-primary text-xs">
                      Have you ever been told you have high blood pressure?
                    </label>
                    <p-selectButton [options]="optionsHighBloodPressure" optionLabel="name" optionValue="value" formControlName="highBloodPressure" />
                  </div>
                  <!--Have you ever been told you had a stroke?-->
                  <div class="flex flex-col w-7/12 gap-2">
                    <label for="" class="color-gradient-primary text-xs">
                      Have you ever been told you had a stroke?
                    </label>
                    <p-selectButton [options]="optionsStroke" optionLabel="name" optionValue="value" formControlName="stroke" />
                  </div>
                  <!--Do you have private health insurance?-->
                  <div class="flex flex-col w-7/12 gap-2">
                    <label for="" class="color-gradient-primary text-xs">
                      Do you have private health insurance?
                    </label>
                    <p-selectButton [options]="optionsPrivateHealthInsurance" optionLabel="name" optionValue="value" formControlName="privateHealthInsurance" />
                  </div>
                  <!--How many of your siblings have died?-->
                  <div class="flex flex-col w-7/12 gap-2">
                    <label for="" class="color-gradient-primary text-xs">
                      How many of your siblings have died?
                    </label>
                    <input type="number" placeholder="Number" formControlName="siblingsDied">
                  </div>
                  <!--How many of your siblings are alive?-->
                  <div class="flex flex-col w-7/12 gap-2">
                    <label for="" class="color-gradient-primary text-xs">
                      How many of your siblings are alive?
                    </label>
                    <input type="number" placeholder="Number" formControlName="siblingsAlive">
                  </div>
                  <!--How often do you wake up at night?	1: Never, 2: Sometimes, 3: Frequently, 4: Very frequently-->
                  <div class="flex flex-col w-10/12 gap-2">
                    <label for="" class="color-gradient-primary text-xs">
                      How often do you wake up at night?
                    </label>
                    <p-selectButton [options]="optionsWakeUpAtNight" optionLabel="name" optionValue="value" formControlName="wakeUpAtNight" />
                  </div>
                  <!--How many alcoholic drinks do you consume per month?-->
                  <div class="flex flex-col w-7/12 gap-2">
                    <label for="" class="color-gradient-primary text-xs">
                      How many alcoholic drinks do you consume per month?
                    </label>
                    <input type="number" placeholder="Number" formControlName="alcoholicDrinks">
                  </div>
                  <!--Do you have any difficulty using the toilet?-->
                  <div class="flex flex-col w-7/12 gap-2">
                    <label for="" class="color-gradient-primary text-xs">
                      Do you have any difficulty using the toilet?
                    </label>
                    <p-selectButton [options]="optionsDifficultyUsingTheToilet" optionLabel="name" optionValue="value" formControlName="difficultyUsingTheToilet" />
                  </div>
                  <!--Do you have access to a flush toilet?-->
                  <div class="flex flex-col w-7/12 gap-2">
                    <label for="" class="color-gradient-primary text-xs">
                      Do you have access to a flush toilet?
                    </label>
                    <p-selectButton [options]="optionsAccessToFlushToilet" optionLabel="name" optionValue="value" formControlName="accessToFlushToilet" />
                  </div>
                  <!--Do you have difficulty lifting heavy objects?-->
                  <div class="flex flex-col w-7/12 gap-2">
                    <label for="" class="color-gradient-primary text-xs">
                      Do you have difficulty lifting heavy objects?
                    </label>
                    <p-selectButton [options]="optionsDifficultyLiftingHeavyObjects" optionLabel="name" optionValue="value" formControlName="difficultyLiftingHeavyObjects" />
                  </div>
                  <!--Do you have difficulty using a pencil or pen?-->
                  <div class="flex flex-col w-7/12 gap-2">
                    <label for="" class="color-gradient-primary text-xs">
                      Do you have difficulty using a pencil or pen?
                    </label>
                    <p-selectButton [options]="optionsDifficultyUsingPencilOrPen" optionLabel="name" optionValue="value" formControlName="difficultyUsingPencilOrPen" />
                  </div>
                  <!--Can you walk 1 km?-->
                  <div class="flex flex-col w-7/12 gap-2">
                    <label for="" class="color-gradient-primary text-xs">
                      Can you walk 1 km?
                    </label>
                    <p-selectButton [options]="optionsWalkOneKm" optionLabel="name" optionValue="value" formControlName="walkOneKm" />
                  </div>
                  <!--How much did you spend on dentist visits last year?-->
                  <div class="flex flex-col w-7/12 gap-2">
                    <label for="" class="color-gradient-primary text-xs">
                      How much did you spend on dentist visits last year?
                    </label>
                    <input type="number" placeholder="Amount" formControlName="dentistVisits">
                  </div>
                  <!--How much did you spend out-of-pocket on hospital visits last year?-->
                  <div class="flex flex-col w-7/12 gap-2">
                    <label for="" class="color-gradient-primary text-xs">
                      How much did you spend out-of-pocket on hospital visits last year?
                    </label>
                    <input type="number" placeholder="Amount" formControlName="hospitalVisits">
                  </div>
                  <!--How many times did you visit the doctor in the last year?-->
                  <div class="flex flex-col w-7/12 gap-2">
                    <label for="" class="color-gradient-primary text-xs">
                      How many times did you visit the doctor in the last year?
                    </label>
                    <input type="number" placeholder="Number" formControlName="doctorVisits">
                  </div>
                  <!--How much did you spend on medications last year?-->
                  <div class="flex flex-col w-7/12 gap-2">
                    <label for="" class="color-gradient-primary text-xs">
                      How much did you spend on medications last year?
                    </label>
                    <input type="number" placeholder="Amount" formControlName="medications">
                  </div>
                  <!--Are you retired?-->
                  <div class="flex flex-col w-7/12 gap-2">
                    <label for="" class="color-gradient-primary text-xs">
                      Are you retired?
                    </label>
                    <p-selectButton [options]="optionsRetired" optionLabel="name" optionValue="value" formControlName="retired" />
                  </div>
                  <!--Do you receive a pension?-->
                  <div class="flex flex-col w-7/12 gap-2">
                    <label for="" class="color-gradient-primary text-xs">
                      Do you receive a pension?
                    </label>
                    <p-selectButton [options]="optionsPension" optionLabel="name" optionValue="value" formControlName="pension" />
                  </div>
                  <!--What is the total monthly household expenditure?-->
                  <div class="flex flex-col w-7/12 gap-2">
                    <label for="" class="color-gradient-primary text-xs">
                      What is the total monthly household expenditure?
                    </label>
                    <input type="number" placeholder="Amount" formControlName="householdExpenditure">
                  </div>
                </form>
              </div>
              <div class="flex py-4 gap-2">
                <p-button label="Back" (onClick)="prevCallback.emit()" />
                <p-button label="Get results" (onClick)="onSubmit()"  [disabled]="!(isCompletedFormRiskOfHospitalization|async)" />
              </div>
            </ng-template>
          </p-stepperPanel>
        </p-stepper>
      </div>
    </div>
    <div class="bg-img-form w-6/12 rounded-3xl">
      <div class="bg-gradient-blue"></div>
    </div>
  </div>
</div>
