.bg-gradient-blue {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, #427ba0 100%);
}

.knop-primary {
  background-color: #6FB6E5;
  color: white;
}
.knop-primary:hover {
  background: linear-gradient(90deg, #6fb6e5 0%, #427ba0 100%);
}

.knop-secondary {
  background-color: #427BA0;
  color: white;
}
.knop-secondary:hover {
  background: linear-gradient(90deg, #427ba0 0%, #6fb6e5 100%);
}

.color-label-low-risk {
  color: #427BA0 !important;
}

.color-label-medium-risk {
  color: #FFA500 !important;
}

.color-label-high-risk {
  color: #FF0000 !important;
}
.border-primary{
  border: 1px solid #6FB6E5;
  box-sizing: border-box;
}
.bg-response{
  background: rgba(66, 123, 160, 0.05);
  border-radius: 25px;
  border: 1px solid rgba(66, 123, 160, 0.2);
}
.fixed-label{
  position: absolute;
  translate: transform(-50%, -50%);
  top: 50%;
}
