<div class="w-full h-full">
  <div class="bg_img flex items-end" #bg_img>
    <div class="w-full px-10 flex justify-between bg-gradient-blue p-10 items-center">
      <div class="white-color ">
        <h1 class="font-medium text-6xl">Your health is our priority</h1>
        <p class="text-3xl">Elderly Face a 40% Higher Risk of Respiratory Attacks</p>
      </div>
      <div>
        <a href="" class="flex gap-5 text-4xl items-center font-semibold btn-principal px-10 py-4">
          <img class="w-10 h-10" src="/button-icon.png" alt="">
          <span>Book Test</span>
        </a>
      </div>
    </div>
  </div>
  <div class="flex flex-col items-center justify-center bg-gradient-blue-reverse">
    <div class="mt-20">
      <h2 class="white-color text-4xl">
        Prioritize your health, <br>
        take the first step today!
      </h2>
    </div>
    <div class="flex gap-5 mt-20">
      <div class="card secondary-color p-10 flex flex-col items-between">
        <div class="">
          <img src="icon3.png" alt="">
        </div>
        <div>
          <h3 class="font-bold my-4">Need Help?</h3>
          <span>We offer support 24/7 <br> reach out any time!</span>
        </div>
      </div>
      <div class="card secondary-color p-10 flex flex-col items-between">
        <div class="">
          <img src="icon2.png" alt="">
        </div>
        <div>
          <h3 class="font-bold my-4">Medical check up</h3>
          <span>Schedule Your Free <br> Health Check Today</span>
        </div>
      </div>
      <div class="card secondary-color p-10 flex flex-col items-between">
        <div class="">
          <img src="icon1.png" alt="">
        </div>
        <div>
          <h3 class="font-bold my-4">Need a doctor?</h3>
          <span>Speak with Our <br> Experts at any time</span>
        </div>
      </div>
    </div>

    <div
      class="flex flex-col items-center justify-center w-7/12 gap-5 white-color bg-secondary-color mt-20 py-10 px-20">
      <h2 class="white-color text-4xl ">
        Book Your Free Appointment Today
      </h2>
      <p>
        Take control of your health with a complimentary consultation from our expert medical team. Your well-being is
        our
        priority.
      </p>
      <a href="" class="px-5 py-2 flex gap-2 secondary-color btn-principal">
        <img src="calendar_icon.png" alt=""> Book
      </a>
    </div>

    <div class="flex flex-col gap-10 mt-20 w-7/12">
      <h2 class="text-4xl textGradient">
        Hear from those we’ve helped
      </h2>
      <div class="flex gap-10 w-full">
        <div class="w-4/12 card secondary-color p-10 flex flex-col items-between">
          <div class=" flex items-center gap-4 mb-4">
            <img src="foto1.png" alt="">
            <div>
              <span class="textGradient">John D.</span>
              <p class="third-color">Engineer</p>
            </div>
          </div>
          <div>
            <p class="third-color">
              My free consultation was thorough, and the doctors genuinely cared about my health. I highly recommend
              their services to
              anyone in need of professional medical advice.
            </p>
          </div>
        </div>
        <div class="w-4/12  card secondary-color p-10 flex flex-col items-between">
          <div class=" flex items-center gap-4 mb-4">
            <img src="foto3.png" alt="">
            <div>
              <span class="textGradient">Mariah L.</span>
              <p class="third-color">Nurse</p>
            </div>
          </div>
          <div>
            <p class="third-color">
              The free health assessment was detailed, and the follow-up care has been fantastic. Thank you, Health AI,
              for making me
              feel valued and cared for!
            </p>
          </div>
        </div>
        <div class="w-4/12  card secondary-color p-10 flex flex-col items-between">
          <div class=" flex items-center gap-4 mb-4">
            <img src="foto2.png" alt="">
            <div>
              <span class="textGradient">Sophia T.</span>
              <p class="third-color">Lawyer</p>
            </div>
          </div>
          <div>
            <p class="third-color">
              It's refreshing to find a healthcare provider that truly prioritizes patient well-being.
            </p>
          </div>
        </div>
      </div>
    </div>
    <br><br><br>
  </div>
</div>
