<div class="w-full h-full">
  <div class="bg_img flex items-end" #bg_img>
    <div class="w-full px-10 flex justify-between bg-gradient-blue p-10 items-center">
      <div class="white-color ">
        <h1 class="font-medium text-6xl">Your health is our priority</h1>
        <p class="text-3xl">Elderly Face a 40% Higher Risk of Respiratory Attacks</p>
      </div>
      <div>
        <a href="" class="flex gap-5 text-4xl items-center font-semibold btn-principal px-10 py-4">
          <img class="w-10 h-10" src="/button-icon.png" alt="">
          <span>Book Test</span>
        </a>
      </div>
    </div>
  </div>
  <div>
    <div>
      <h2>
        Prioritize your health, <br>
        take the first step today!
      </h2>
    </div>
    <div>
      <div>
        <img src="" alt="">
      </div>
    </div>
  </div>
</div>
